.side-dock-actions .sortable-ghost,
.status-bar .sortable-ghost {
  visibility: hidden;
}

.side-dock-actions > div:first-child {
  /* to ensure that the ribbon bar doesn't dissapear if the separator is place at position 0 */
  display: inherit !important;
}

.status-bar > div:last-child {
  /* to ensure that the status bar doesn't dissapear if the separator is place at position 0 */
  display: inherit !important; 
}

.workspace-ribbon div.separator {
  cursor: grab;
  padding: 0px 4px;
  display: flex;
  place-items: center;
  justify-content: center;
  height: 1em;
}

.workspace-ribbon div.separator .line {
  margin-top: -4px;
  display: flex;
}

.workspace-ribbon div.separator:hover {
  background: none;
}

.workspace-ribbon div.separator div.line::before {
  content: "―";
}

.status-bar div.separator {
  --cursor: grab; /* to deal with minimal theme */
  cursor: grab;
  padding: 0px 4px;
}

.status-bar div.separator div.line::before {
  content: "|";
}

.workspace-ribbon div.side-dock-ribbon-action.sortable-chosen,
.workspace-ribbon div.separator.sortable-chosen,
.status-bar div.separator.sortable-chosen {
  --cursor: grabbing; /* to deal with minimal theme */
  cursor: grabbing;
}
